:host {
    background-color: var(--Task-Preview-Background-Color);
    border-radius: 0.5rem;
    box-shadow: 0px 0.25rem 0.375rem rgba(54, 78, 126, 0.101545);
    cursor: pointer;
    display: block;
    padding-bottom: 1.4375rem;
    padding-top: 1.4375rem;
}

:host([changed]) {
    animation-duration: 0.4s;
    animation-name: fadeOut;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

:host .taskInnerContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88.57%;
}

:host .taskTitle {
    color: var(--Main-Text-Color);
    font-weight: var(--font-weight-7);
    font-style: normal;
    font-size: var(--font-size-15);
    line-height: var(--line-height-19);
    margin: 0;
}

:host(:hover) .taskTitle {
    color: var(--Main-Purple);
}

:host small {
    color: var(--Medium-Grey);
    font-size: var(--font-size-12);
    font-style: normal;
    font-weight: var(--font-weight-7);
    line-height: var(--line-height-15);
    margin: 0;
}

dialog {
    background-color: var(--Taskboard-Background-Color);
    border: none;
    border-radius: 0.375rem;
    padding: 0;
    width: 30rem;

    animation-name: revealDialog;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(0.9);
}

@keyframes revealDialog {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

dialog::backdrop {
    background-color: #000000;
    opacity: 0.5;
}

:host .dialogForm {
    background-color: var(--Task-Preview-Background-Color);
    height: 100%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100%;
}

:host .dialogFormInnerContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 86.666666%;
}

:host .dialogTaskTitle {
    color: var(--Main-Text-Color);
    font-size: var(--font-size-18);
    font-style: normal;
    font-weight: var(--font-weight-7);
    line-height: var(--line-height-23);
    margin: 0;
}

:host .dialogTaskDescription {
    color: var(--Medium-Grey);
    font-size: var(--font-size-13);
    font-style: normal;
    font-weight: var(--font-weight-5);
    line-height: var(--line-height-23);
    margin-top: 1.5rem;
}

:host .dialogCompletionStats {
    color: var(--Dialog-Text-1-Color);
    margin-top: 1.4375rem;
}

:host dialog .taskCheckboxList {
    list-style: none;
    padding: 0;
}

:host dialog .taskCheckboxList li {
    align-items: center;
    background-color: var(--Taskboard-Background-Color);
    border-radius: 0.25rem;
    display: flex;
    height: 2.5rem;
    padding-bottom: 0.75rem;
    padding-top: 0.8125rem;
    width: 100%;
}

:host dialog .taskCheckboxList li:hover {
    background-color: var(--Main-Purple-Hover);
}

:host dialog .taskCheckboxList li:not(:last-child) {
    margin-bottom: 0.5rem;
}

:host dialog .taskCheckboxList li label {
    align-items: center;
    color: var(--Main-Text-Color);
    cursor: pointer;
    display: flex;
    font-size: var(--font-size-12);
    font-style: normal;
    font-weight: var(--font-weight-7);
    line-height: var(--line-height-15);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 24.25rem;
}

:host dialog .taskCheckboxList li label.crossOut {
    color: var(--Medium-Grey);
    text-decoration: line-through var(--Medium-Grey);
}

:host dialog .taskCheckboxList li label input {
    accent-color: var(--Main-Purple);
    border-color: var(--Medium-Grey);
    border-radius: 0.125rem;
    cursor: pointer;
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
}

:host dialog .taskCheckboxList li label input:not(:checked)::after {
    background-color: var(--Task-Preview-Background-Color);
    border-color: var(--Medium-Grey);
    border-radius: 0.125rem;
    content: "";
    height: 1rem;
    margin-bottom: 1.5rem;
    position: absolute;
    width: 1rem;
}

:host dialog .currentStatusLabel {
    color: var(--Dialog-Text-1-Color);
    display: block;
    font-size: var(--font-size-12);
    font-style: normal;
    font-weight: var(--font-weight-7);
    line-height: var(--line-height-15);
    margin-bottom: 0.5rem;
}

/* GOING TO MOVE THIS INTO A COMPONENT */
:host dialog #currentStatus {
    background-color: var(--Task-Preview-Background-Color);
    border: 0.0625rem solid var(--Border-Color);
    color: var(--Main-Text-Color);
    display: block;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

/* GOING TO MOVE THIS INTO A COMPONENT */
:host dialog #currentStatus > option {
    /* background-color: red; */
    color: var(--Medium-Grey);
    /* cursor: pointer; */
    display: block;
    font-size: var(--font-size-13);
    font-style: normal;
    font-weight: var(--font-weight-5);
    height: 1.4375rem;
    line-height: var(--line-height-23);
    width: 10rem;
}
