:host {
    background-color: var(--Main-Purple);
    border-radius: 0.75rem;
    cursor: pointer;
    height: 1.25rem;
    width: 2.5rem;
}

:host(:hover) {
    background-color: var(--Main-Purple-Hover);
}

input[type="checkbox"] {
	position: absolute;
	left: -624.9375rem;
}

label {
    align-items: center;
	cursor: pointer;
	display: flex;
    height: 100%;
	justify-content: space-between;
    width: 100%;
}

label > * {
	pointer-events: none;
}

span {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 0.75rem;
}

span::before {
	content: "";
	position: absolute;
}

span::before {
    left: 0.1875rem;
    top: 0.1875rem;
	width: 0.875rem;
	height: 0.875rem;
	background-color: var(--White);
	border-radius: 0.75rem;
	z-index: 1;
    transition: transform 0.3s;
}

input[type="checkbox"]:checked + label span::before {
	transform: translateX(1.25rem);
}