:host {
    background-color: var(--Taskboard-Background-Color);
    display: block;
    height: 100%;
    min-height: 64rem;
    overflow-y: auto;
    width: 100%;
}

:host([data-sidebar-control="on-screen"]) #sideBarControl {
    display: block;
}

:host([data-sidebar-control="off-screen"]) #sideBarControl {
    display: none;
}

#componentInnerContainer {
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    white-space: nowrap;
}

#componentInnerContainer > * {
    /* Undoing the inherited "white-space: nowrap:" from above */
    /* Makes the TaskPreview text spill out of their containers */
    white-space: normal;
}

#sideBarControl {
    background-color: var(--Main-Purple);
    border: none;
    border-radius: 0 6.25rem 6.25rem 0;
    cursor: pointer;
    height: 3rem;
    width: 3.5rem;
}

#sideBarControl:hover {
    background-color: var(--Main-Purple-Hover-3);
}

#sideBarControl > * {
    pointer-events: none;
}

#mainRoute {
    display: flex;
    gap: 1.5rem;
    margin-left: 1.5rem;
}