@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Solid colors */
    --Main-Purple: #635FC7;
    --Main-Purple-Hover: hsla(242, 100%, 82%, 0.25);
    --Black: #000112;
    --Very-Dark-Grey-Dark-BG: #20212C;
    --Dark-Grey: #2B2C37;
    --Error-Color: hsla(0, 78%, 63%, 1);
    --Lines-Dark: #3E3F4E;
    --Medium-Grey: #828FA3;
    --Light-Grey-Light-BG: #F4F7FD;
    --Lines-Light: #E4EBFA;
    --Red: #EA5555;
    --Red-Hover: #FF9898;
    --White: #FFFFFF;
    /* Headings */
    --Heading-XL: 1.5rem;
    --Heading-L: 1.125rem;
    --Heading-M: 0.9375rem;
    --Heading-S: 0.75rem;
    /* Container widths */
    --application-width: 90rem;
    /* Font sizes */
    --font-size-12: 0.75rem;
    --font-size-13: 0.8125rem;
    --font-size-15: 0.9375rem;
    --font-size-18: 1.125rem;
    /* Font weight */
    --font-weight-5: 500;
    --font-weight-7: 700;
    /* Line height */
    --line-height-15: 0.9375rem;
    --line-height-19: 1.1875rem;
    --line-height-23: 1.4375rem;
    /* border radius */
    --border-radius-24: 1.5rem;
}

html {
	height: 100%;
	box-sizing: border-box;
	font-size: 16px;
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans';
	min-height: 100%;
}

kanban-app {
    display: block;
    height: 100vh;
	margin-left: auto;
	margin-right: auto;
    max-width: var(--application-width);
}