:host {
    display: block;
    overflow: hidden;
    position: relative;

    /* Specific Elements Default Colors */
    --Border-Color: var(--Lines-Light);
    --Dark-Light-Mode-Switch-Background-Color: var(--Light-Grey-Light-BG);
    --Header-Background-Color: var(--White);
    --Main-Text-Color: var(--Black);
    --Sidebar-Background-Color: var(--White);
    --Task-Preview-Background-Color:  var(--White);
    --Taskboard-Background-Color: var(--Light-Grey-Light-BG);
}

:host(.darkTheme) {
    --Border-Color: var(--Lines-Dark);
    --Dark-Light-Mode-Switch-Background-Color: var(--Very-Dark-Grey-Dark-BG);
    --Header-Background-Color: var(--Dark-Grey);
    --Main-Text-Color: var(--White);
    --Sidebar-Background-Color: var(--Dark-Grey);
    --Task-Preview-Background-Color:  var(--Dark-Grey);
    --Taskboard-Background-Color: var(--Very-Dark-Grey-Dark-BG);
}

#canvas {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
    width: 100%;
}

#canvas[data-menu="off-screen"] {
	transform: translateX(0);
}

#canvas[data-menu="on-screen"] {
	transform: translateX(18.75rem);
}

#mainRoute {
    display: flex;
    gap: 1.5rem;
    margin-left: 1.5rem;
}

#mainRoute section {
    width: 17.5rem;
}

.circle {
    border-radius: 3.125rem;
    display: inline-block;
    height: 0.9375rem;
    margin-right: 0.75rem;
    width: 0.9375rem;
}

.circle[data-color="0"] {
    background-color: #49C4E5;
}

.circle[data-color="1"] {
    background-color: #8471F2;
}

.circle[data-color="2"] {
    background-color: #67E2AE;
}

.circle[data-color="3"] {
    background-color: #E2679B;
}

.circle[data-color="4"] {
    background-color: #E27167;
}

.circle[data-color="5"] {
    background-color: #E267D9;
}

.sectionTitle {
    color: var(--Medium-Grey);
    font-style: normal;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-7);
    letter-spacing: 0.15rem;
    line-height: var(--line-height-15);
}

#mainRoute section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#mainRoute section ul li:not(:last-child) {
    margin-bottom: 1.25rem;
}

#mainRoute section ul li {
    animation-name: staggerIn;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translateY(50px);
    opacity: 0;
}

#mainRoute section ul li:nth-child(1) {
    animation-delay: 0.0;
}

#mainRoute section ul li:nth-child(2) {
    animation-delay: 0.1s;
}

#mainRoute section ul li:nth-child(3) {
    animation-delay: 0.2s;
}

#mainRoute section ul li:nth-child(4) {
    animation-delay: 0.3s;
}

#mainRoute section ul li:nth-child(5) {
    animation-delay: 0.4s;
}

#mainRoute section ul li:nth-child(6) {
    animation-delay: 0.5s;
}

#mainRoute section ul li:nth-child(7) {
    animation-delay: 0.6s;
}

#mainRoute section ul li:nth-child(8) {
    animation-delay: 0.7s;
}

#mainRoute section ul li:nth-child(9) {
    animation-delay: 0.8s;
}

#mainRoute section ul li:nth-child(10) {
    animation-delay: 0.9s;
}

#mainRoute section ul li:nth-child(11) {
    animation-delay: 1s;
}

@keyframes staggerIn {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

