:host {
    display: block;
    overflow: hidden;
    position: relative;

    /* Specific Elements Default Colors */
    --Add-New-Subtask-Background-Color: var(--Main-Purple-Hover-1);
    --Add-New-Subtask-Background-Color-Hover: var(--Main-Purple-Hover-2);
    --Border-Color: var(--Lines-Light);
    --Cancel-Button-Background-Color: var(--Main-Purple-Hover-1);
    --Dark-Light-Mode-Switch-Background-Color: var(--Light-Grey-Light-BG);
    --Dialog-Text-1-Color: var(--Medium-Grey);
    --Header-Background-Color: var(--White);
    --Main-Text-Color: var(--Black);
    --New-Column-Background-Color: var(--Main-Purple-Hover-1);
    --Placeholder-Text-Color: hsla(237, 100%, 4%, 1);
    --Sidebar-Background-Color: var(--White);
    --Task-Preview-Background-Color:  var(--White);
    --Taskboard-Background-Color: var(--Light-Grey-Light-BG);
}

:host(.darkTheme) {
    --Add-New-Subtask-Background-Color: var(--White);
    --Add-New-Subtask-Background-Color-Hover: var(--White);
    --Border-Color: var(--Lines-Dark);
    --Cancel-Button-Background-Color: var(--White);
    --Dark-Light-Mode-Switch-Background-Color: var(--Very-Dark-Grey-Dark-BG);
    --Dialog-Text-1-Color: var(--White);
    --Header-Background-Color: var(--Dark-Grey);
    --Main-Text-Color: var(--White);
    --New-Column-Background-Color: var(--Dark-Grey);
    --Placeholder-Text-Color: hsla(0, 0%, 100%, 1);
    --Sidebar-Background-Color: var(--Dark-Grey);
    --Task-Preview-Background-Color:  var(--Dark-Grey);
    --Taskboard-Background-Color: var(--Very-Dark-Grey-Dark-BG);
}

#canvas {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
    width: 100%;
}

#canvas[data-menu="off-screen"] {
	transform: translateX(0);
}

#canvas[data-menu="on-screen"] {
	transform: translateX(18.75rem);
}