:host {
    display: block;
    overflow: hidden;
    position: relative;

    /* Specific Elements Default Colors */
    --Border-Color: var(--Lines-Light);
    --Dark-Light-Mode-Switch-Background-Color: var(--Light-Grey-Light-BG);
    --Header-Background-Color: var(--White);
    --Main-Text-Color: var(--Black);
    --Sidebar-Background-Color: var(--White);
    --Task-Background-Color:  var(--White);
    --Taskboard-Background-Color: var(--Light-Grey-Light-BG);
}

:host(.darkTheme) {
    --Border-Color: var(--Lines-Dark);
    --Dark-Light-Mode-Switch-Background-Color: var(--Very-Dark-Grey-Dark-BG);
    --Header-Background-Color: var(--Dark-Grey);
    --Main-Text-Color: var(--White);
    --Sidebar-Background-Color: var(--Dark-Grey);
    --Task-Background-Color:  var(--Dark-Grey);
    --Taskboard-Background-Color: var(--Very-Dark-Grey-Dark-BG);
}

#canvas {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
    width: 100%;
}

#canvas[data-menu="off-screen"] {
	transform: translateX(0);
}

#canvas[data-menu="on-screen"] {
	transform: translateX(18.75rem);
}

#mainRoute {
    display: flex;
    gap: 1.5rem;
    margin-left: 1.5rem;
}

#mainRoute section {
    width: 17.5rem;
}

#mainRoute section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#mainRoute section ul li {
    background-color: var(--Task-Background-Color);
    border-radius: 0.5rem;
    box-shadow: 0px 0.25rem 0.375rem rgba(54, 78, 126, 0.101545);
    margin-bottom: 1.25rem;
    padding-bottom: 1.4375rem;
    padding-top: 1.4375rem;
}

#mainRoute section ul li span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88.57%;
}

#mainRoute section ul li h3 {
    color: var(--Main-Text-Color);
    font-weight: var(--font-weight-7);
    font-style: normal;
    font-size: var(--font-size-15);
    line-height: var(--line-height-19);
    margin: 0;
    
}