:host {
    align-items: center;
    background-color: var(--Dark-Light-Mode-Switch-Background-Color);
    border-radius: 0.375rem;
    display: flex;
    height: 3rem;
    justify-content: center;
    margin-left: 1.5rem;
    width: 15.6875rem;
}

#switchInnerContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

toggle-switch {
    margin-left: 1.479375rem;
    margin-right: 1.479375rem;
}