:host {
    display: block;
    width: 17.5rem;
}

.circle {
    border-radius: 3.125rem;
    display: inline-block;
    height: 0.9375rem;
    margin-right: 0.75rem;
    width: 0.9375rem;
}

.circle[data-color="0"] {
    background-color: #49C4E5;
}

.circle[data-color="1"] {
    background-color: #8471F2;
}

.circle[data-color="2"] {
    background-color: #67E2AE;
}

.circle[data-color="3"] {
    background-color: #E2679B;
}

.circle[data-color="4"] {
    background-color: #E27167;
}

.circle[data-color="5"] {
    background-color: #E267D9;
}

.columnTitle {
    color: var(--Medium-Grey);
    font-style: normal;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-7);
    letter-spacing: 0.15rem;
    line-height: var(--line-height-15);
}

:host ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

:host ul li:not(:last-child) {
    margin-bottom: 1.25rem;
}

:host ul li.initialLoad {
    animation-name: staggerIn;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translateY(50px);
    opacity: 0;
}

:host ul li.initialLoad:nth-child(1) {
    animation-delay: 0.0;
}

:host ul li.initialLoad:nth-child(2) {
    animation-delay: 0.1s;
}

:host ul li.initialLoad:nth-child(3) {
    animation-delay: 0.2s;
}

:host ul li.initialLoad:nth-child(4) {
    animation-delay: 0.3s;
}

:host ul li.initialLoad:nth-child(5) {
    animation-delay: 0.4s;
}

:host ul li.initialLoad:nth-child(6) {
    animation-delay: 0.5s;
}

:host ul li.initialLoad:nth-child(7) {
    animation-delay: 0.6s;
}

:host ul li.initialLoad:nth-child(8) {
    animation-delay: 0.7s;
}

:host ul li.initialLoad:nth-child(9) {
    animation-delay: 0.8s;
}

:host ul li.initialLoad:nth-child(10) {
    animation-delay: 0.9s;
}

:host ul li.initialLoad:nth-child(11) {
    animation-delay: 1s;
}

@keyframes staggerIn {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.rehydrate {
    animation-name: fadeIn;
    animation-duration: 0.35s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* opacity: 0; */
    transform: scale(0);
}

@keyframes fadeIn {
    0% {
        /* opacity: 0; */
        transform: scale(0);
    }
    100% {
        /* opacity: 1; */
        transform: scale(1);
    }
}