:host {
    cursor: pointer;
    display: block;
}

#kebabMenuButtonInnerContainer {
    display: flex;
    flex-direction: column;
    height: 1.25rem;
    justify-content: space-between;
    width: 0.28875rem;
}

#kebabMenuButtonInnerContainer span {
    background-color: var(--Medium-Grey);
    border-radius: 3.125rem;
    display: block;
    height: 0.28875rem;
    pointer-events: none;
    width: 0.28875rem;
}

:host .popupMenu {
    background-color: var(--Taskboard-Background-Color);
    border: none;
    border-radius: 0.5rem;
    min-width: 12rem;
    padding: 0;
}

.popupMenu[open] {
    animation-name: revealDialog;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(0.9);
}

@keyframes revealDialog {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

:host([altering="Board"]) .popupMenu {
    right: -82%;
    top: -76%;
}

:host .popupMenu .popupMenuInnerContainer {
    cursor: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

:host .popupMenu[appHeader] {
    bottom: 300px;
    left: 0px;
}

:host .popupMenu:not([open]) {
    display: none;
}

:host .popupMenu button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font-style: normal;
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-13);
    line-height: var(--line-height-23);
    padding: 0;
    text-align: left;
    width: auto;
}

:host .popupMenu button:active {
    border: none;
}

:host .popupMenu button:nth-child(1) {
    color: var(--Medium-Grey);
}

:host .popupMenu button:nth-child(2) {
    color: hsla(0, 78%, 63%, 1);
    margin-top: 1rem;
}

.error {
    color: var(--Red);
}