:host {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 18.75rem;
    position: absolute;
    top: 0;
    left: -18.75rem;
}

app-logo {
    margin-left: 2.125rem;
}

label {
    color: var(--Medium-Grey);
    display: block;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-7);
    letter-spacing: 0.15rem;
    line-height: 0.9375rem;
    margin-bottom: 1.1875rem;
    margin-left: 2rem;
}

#sideBarNav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 17.25rem;
}

#sideBarNav > ul li {
    border-radius: 0 6.25rem 6.25rem 0;
    height: 3rem;
}

#sideBarNav > ul li:active {
    background-color: var(--Main-Purple);
}

dark-light-mode-switch {
    align-self: end;
    margin-bottom: 0.5rem;
    margin-right: auto;
    margin-top: auto;
}

hide-sidebar-button {
    align-self: end;
    margin-bottom: 2rem;
    margin-left: 1.9375rem;
    margin-right: auto;
}