:host {
    background-color: var(--Sidebar-Background-Color);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 18.75rem;
    position: absolute;
    top: 0;
    left: -18.75rem;
}

app-logo {
    margin-left: 2.125rem;
}

label {
    color: var(--Medium-Grey);
    display: block;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-7);
    letter-spacing: 0.15rem;
    line-height: 0.9375rem;
    margin-bottom: 1.1875rem;
    margin-left: 2rem;
}

#sideBarNav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 17.25rem;
}

#sideBarNav > ul li {
    border-radius: 0 6.25rem 6.25rem 0;
    cursor: pointer;
    height: 3rem;
}

#sideBarNav > ul li {
    padding-left: 2rem;
}

#sideBarNav > ul li.current {
    background-color: var(--Main-Purple);
}

#sideBarNav > ul li:hover {
    background-color: var(--Light-Grey-Light-BG);
}

#sideBarNav > ul li a {
    align-items: center;
    color: var(--Medium-Grey);
    display: flex;
    font-style: normal;
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-7);
    height: 100%;
    line-height: var(--line-height-19);
    text-decoration: none;
    width: 100%;
}

#sideBarNav > ul li.current a {
    color: var(--White);
}


#sideBarNav > ul li:hover a {
    color: var(--Main-Purple);
}

#sideBarNav > ul li a > img {
    height: 1rem;
    margin-right: 1rem;
    width: 1rem;
}

#sideBarNav > ul li:hover a > img {
    filter:
        invert(41%)
        sepia(28%)
        saturate(1238%)
        hue-rotate(203deg)
        brightness(91%)
        contrast(93%);
}

dark-light-mode-switch {
    align-self: end;
    margin-bottom: 0.5rem;
    margin-right: auto;
    margin-top: auto;
}

hide-sidebar-button {
    align-self: end;
    margin-bottom: 2rem;
    margin-right: auto;
}