@media screen and (max-width: 768px) {
    :host {
        height: 5rem;
    }

    #logoContainer {
        width: 16.3125rem;
        min-width: 16.3125rem;
    }

    app-logo {
        margin-left: 10%;
    }

    #sectionTitleSection {
        width: 66.015625%;
    }
    
    #sectionTitleSectionInnerContainer {
        max-width: 28.6875rem;
        width: 90.532544%;
    }

    #sectionTitleSectionInnerContainer h2 {
        font-size: var(--font-size-20);
        line-height: var(--line-height-25);
    }
}