:host {
    align-items: center;
    background-color: var(--Header-Background-Color);
    display: flex;
    height: 6.0625rem;
    margin: 0;
    padding: 0;
    width: 100%;
}

#logoOuterContainer {
    border-right: 0.0625rem solid var(--Border-Color);
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 13.0625rem;
    width: 14.513888%;
}

#logoOuterContainer[data-behavior="hide"],
#logoOuterContainer[data-behavior="hide"] > * {
    display: none;
}

#logoInnerContainer {
    align-items: center;
    display: flex;
    height: 6.0625rem;
    justify-content: space-between;
    width: 72.98086%;
}

#logoBarsContainer {
    display: flex;
    height: 1.5625rem;
    width: 1.5rem;
}

.logoBars {
    background-color: var(--Main-Purple);
    border-radius: 0.125rem;;
    display: flex;
    height: 100%;
    width: 0.375rem;

    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}

.logoBars:not(last-child) {
    margin-right: 0.1875rem;
}

#logoBarOne {
    animation-name: logoBarOneFade;
}

#logoBarTwo {
    animation-name: logoBarTwoFade;
}

#logoBarThree {
    animation-name: logoBarThreeFade;
}

@keyframes logoBarOneFade {
    20% {
        opacity: 0.50;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0.75;
    }
    80% {
        opacity: 0.50;
    }
    100% {
        opacity: 1;
    }
}

@keyframes logoBarTwoFade {
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0.75;
    }
    60% {
        opacity: 0.50;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0.75;
    }
}

@keyframes logoBarThreeFade {
    20% {
        opacity: 0.75;
    }
    40% {
        opacity: 0.50;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0.75;
    }
    100% {
        opacity: 0.50;
    }
}

#sectionTitleSection {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

#sectionTitleSectionInnerContainer {
    align-items: center;
    color: var(--Main-Text-Color);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 72.875rem;
    width: 94.7967%;
}

#logoOuterContainer[data-behavior="hide"] + #sectionTitleSection  > #sectionTitleSectionInnerContainer {
    max-width: 87rem;
    width: 100%;
}

add-new-task-button {
    margin-left: auto;
}

#kebabMenu {
    display: flex;
    flex-direction: column;
    height: 1.25rem;
    justify-content: space-between;
    margin-left: 1.5rem;
    width: 0.28875rem;
}

#kebabMenu span {
    background-color: var(--Medium-Grey);
    border-radius: 3.125rem;
    display: block;
    height: 0.28875rem;
    width: 0.28875rem;
}
