:host {
    border-radius: 0 6.25rem 6.25rem 0;
    cursor: pointer;
    width: 17.25rem;
}

:host(:hover) {
    background-color: var(--Light-Grey-Light-BG);
}

:host div {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-left: 1.9375rem;
    max-width: 7.9375rem;
}

:host img {
    margin-right: 0.9375rem;
}

:host p {
    color: var(--Medium-Grey);
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-7);
    line-height: var(--line-height-19);
}

:host > * {
    pointer-events: none;
}